POSTGRES_URL=postgresql://postgres
MONGODB_URI=mongodb+srv://sprinto
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=xxx
NEXT_PUBLIC_CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=xxx
